<mat-card appearance="outlined" class="user-card">
    <mat-card-header>
        <mat-card-title> {{ user().name }}</mat-card-title>
        <mat-card-subtitle>Username: {{ user().username }} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p><strong>Email: </strong>{{ user().email }}</p>
        <p><strong>Phone: </strong>{{ user().phone }}</p>
        <p><strong>Website: </strong>{{ user().website }}</p>

        @let address = user().address;
        <p><strong>Address:</strong> {{ address.street }}, {{ address.suite }}, {{ address.city }}, {{ address.zipcode }}</p>

        <ul>
            <li>Lat: {{ address.geo.lat }}</li>
            <li>Long: {{ address.geo.lng }}</li>
        </ul>

        <strong>Company</strong>
        <ul>
            <li>Name: {{ user().company.name }}</li>
            <li>Catchphrase: {{ user().company.catchPhrase }}</li>
            <li>Business Summary: {{ user().company.bs }}</li>
        </ul>
    </mat-card-content>
    <mat-card-actions class="card-actions">
        <button (click)="toggleFavorite(user().id)" aria-label="favorite this profile" class="favorite-button" mat-icon-button>
            <mat-icon [style]="{ color: user().isFavorite ? 'red' : 'black' }" fontIcon="favorite" />
        </button>
        @if (showProfileButton()) {
            <a [routerLink]="['/user', user().id]" aria-label="view profile" mat-icon-button>
                <mat-icon fontIcon="person" />
            </a>
        }
    </mat-card-actions>
</mat-card>
